/* Footer styles */
footer {
    background-color: #131313f7;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 0; /* Remove margin-top to avoid pushing the footer down */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .content {
        padding-bottom: 70px; /* Add enough space at the bottom of the content for the footer */
    }
}

/* Ensures footer stays at the bottom on desktop */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content area will grow and take up space, pushing the footer down */
.main-content {
    flex: 1;
}
